/*
 * Author: Hiki
 * Last Modified: 09-02-2019 22:44:23
 * Version: 2.0.0
 */

 
@import "dependencies.styl";

/*** START of Main ***/

/* :root{} */
/* Other shit */
/* Spoiler */

/* I can't fucking remember. */

/*** END of Main ***/

@import "fixes.styl";